.body {
    font-family: 'Poppins', sans-serif;
}

.nav-link {
    color: grey;
}

.nav-link:hover {
    color: darkslategray;
    font-size: 1.05rem;
}

#top-banner {
    margin: 50px 0;
}

.carousel-indicators .active {
    background: darkviolet;
}

.btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

.carousel-item p {
    margin-top: 30px;
}

.card {
    border-radius: 10px;
    border: none;
    text-align: center;
    box-shadow: 2px 2px 30px 10px rgba(173,173,173,.5);
}

.card h5 {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.card .btn {
    margin-bottom: 20px;
}

.card img {
    padding: 30px;
}


.card-footer {
    border-radius: 10px;
    border: none;
    background-color: white;
}

.yellow-highlight {
    color: goldenrod;
}

.images img {
    background-color: white;
    padding: 70px;
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.15);
    border-radius: 1px 40px 1px 40px;
}

.categories h2 {
    padding-top: 60px;
    text-align: center;
}

/* .gradient {
    width: 20px;
    padding: 3px 70px;
    background-image: linear-gradient(to right, yellow, orange);
    border-radius: 5px;
} */

footer {
    text-align: center;
    padding: 30px;
    font-size: 20px;
}